<!-- Loop over each object in the posts array -->
{{#each userPosts as |posts| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{posts.title}}
    </h2>
        <h6>{{posts.snippet}}</h6>
        <h6>By: {{posts.user.username}}</h6>
  
    {{/each}}
</div>