<!-- Loop over each object in the posts array -->
{{#each userPosts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-auto">
    <h2>
      {{post.title}}
    </h2>
        <h6>{{post.snippet}}</h6>
        <h6>By: {{post.user.username}}</h6>
  
{{/each}}
</div>